GEMINI_API_KEY=AIzaSyC7f2LS5-SbCQf-wZrML2AzwplNMVyFid8
HACKRX_TOKEN=7ea833514442bb719ca788e673cbbc9fbf9555f6fa015252aaaa9679c5744303
PORT=8000
PINECONE_API_KEY=your_pinecone_key_here
PINECONE_ENVIRONMENT=us-east-1-aws
PINECONE_INDEX_NAME=hackrx-documents
